 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 3423px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1rem;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 0;
}

.u-section-1 .u-image-1 {
  height: 404px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  height: 404px;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  margin: 0 0 60px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1rem;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1rem;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1rem;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1rem;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1rem;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1rem;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1rem;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1rem;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1rem;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1rem;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1rem;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1rem;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 37px;
    margin-left: -37px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 36px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 48px;
  }

  .u-section-1 .u-image-1 {
    height: 304px;
  }

  .u-section-1 .u-image-2 {
    height: 304px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 38px;
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1.25rem;
    margin: 30px auto 0;
    padding: 14px 126px 15px 125px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 1.25rem;
    margin: 12px auto 0;
    padding: 13px 116px 14px;
  }

  .u-section-1 .u-btn-4 {
    font-size: 1.25rem;
    margin: 12px auto 0;
    padding: 14px 86px 15px 85px;
  }

  .u-section-1 .u-btn-5 {
    font-size: 1.25rem;
    margin: 84px auto 0;
    padding: 14px 159px 14px 157px;
  }

  .u-section-1 .u-btn-6 {
    font-size: 1.25rem;
    margin: -132px auto 0;
    padding: 14px 75px 14px 74px;
  }

  .u-section-1 .u-text-4 {
    width: 398px;
    margin-top: 121px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-7 {
    margin: 12px auto 0;
    padding: 10px 74px;
  }

  .u-section-1 .u-btn-8 {
    margin: 10px auto 0;
    padding: 10px 81px;
  }

  .u-section-1 .u-btn-9 {
    margin: 10px auto 0;
    padding: 10px 61px;
  }

  .u-section-1 .u-btn-10 {
    margin: 10px auto 0;
    padding: 10px 34px 10px 33px;
  }

  .u-section-1 .u-btn-11 {
    margin: 10px auto 0;
    padding: 10px 82px 10px 81px;
  }

  .u-section-1 .u-btn-12 {
    margin: 10px auto 0;
    padding: 10px 35px 10px 34px;
  }

  .u-section-1 .u-btn-13 {
    margin: 10px auto 39px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2769px;
  }

  .u-section-1 .u-btn-1 {
    margin: -559px auto 0 28px;
    padding: 10px 92px 10px 91px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 534px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 24px;
  }

  .u-section-1 .u-image-1 {
    height: 191px;
    margin-top: 24px;
  }

  .u-section-1 .u-image-2 {
    height: 190px;
    margin-top: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 24px;
  }

  .u-section-1 .u-btn-2 {
    padding-right: 64px;
    padding-left: 63px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 10px;
    padding-right: 55px;
    padding-left: 53px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 10px;
    padding-right: 24px;
    padding-left: 22px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 80px;
    padding-right: 96px;
    padding-left: 95px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -130px;
    padding-right: 13px;
    padding-left: 11px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 100px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-13 {
    margin-bottom: 55px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 3276px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1rem;
  margin-left: 0;
  margin-right: 1466px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1rem;
  margin-left: 0;
  margin-right: 1466px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1rem;
  margin-left: 0;
  margin-right: 1466px;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1rem;
  margin-left: 0;
  margin-right: 1466px;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1rem;
  margin-left: 0;
  margin-right: 1466px;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1rem;
  margin-left: 0;
  margin-right: 1466px;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1rem;
  margin-left: 0;
  margin-right: 1466px;
}

.u-section-2 .u-btn-8 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1rem;
  margin-left: 0;
  margin-right: 1466px;
}

.u-section-2 .u-btn-9 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1rem;
  margin-left: 0;
  margin-right: 1466px;
}

.u-section-2 .u-btn-10 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1rem;
  margin-left: 0;
  margin-right: 1466px;
}

.u-section-2 .u-text-1 {
  margin: 32px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 28px 0 0;
}

.u-section-2 .u-image-1 {
  height: 641px;
  margin-top: 19px;
  margin-bottom: 0;
}

.u-section-2 .u-image-2 {
  height: 641px;
  margin-top: 11px;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  margin: 32px 24px 0;
}

.u-section-2 .u-list-1 {
  margin: 69px 1509px 0 -1169px;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 0px 0px;
  grid-template-columns: 100%;
  grid-auto-columns: 100%;
  min-height: 0;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-btn-11 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1.25rem;
  margin: -30px auto 0 274px;
  padding: 14px 51px;
}

.u-section-2 .u-btn-12 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1.25rem;
  margin: -60px 274px 0 auto;
  padding: 14px 42px 14px 41px;
}

.u-section-2 .u-btn-13 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1.25rem;
  margin: 11px auto 0;
  padding: 14px 107px 14px 106px;
}

.u-section-2 .u-btn-14 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1.25rem;
  margin: 11px auto 0;
  padding: 14px 41px;
}

.u-section-2 .u-btn-15 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1.25rem;
  margin: 11px auto 0;
  padding: 14px 150px 14px 149px;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: 69px 0 0;
}

.u-section-2 .u-btn-16 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1rem;
  margin: 19px auto 0 568px;
}

.u-section-2 .u-btn-17 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1rem;
  margin: -45px auto 0 367px;
}

.u-section-2 .u-btn-18 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1rem;
  margin: 11px auto 0 319px;
}

.u-section-2 .u-btn-19 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1rem;
  margin: -45px auto 0 561px;
  padding: 10px 17px;
}

.u-section-2 .u-btn-20 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1rem;
  margin: 10px auto 0 604px;
}

.u-section-2 .u-btn-21 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1rem;
  margin: -45px auto 0 347px;
  padding: 10px 12px 10px 11px;
}

.u-section-2 .u-btn-22 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1rem;
  margin: 10px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 87px 0 0;
}

.u-section-2 .u-countdown-1 {
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 19px auto 60px;
  padding: 26px 36px;
}

.u-section-2 .u-countdown-counter-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-2 .u-countdown-separator-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-counter-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-2 .u-countdown-separator-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-counter-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-2 .u-countdown-separator-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-counter-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-2 .u-countdown-separator-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-counter-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-2 .u-countdown-separator-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-counter-6 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-left: -279px;
    margin-right: 1220px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: -279px;
    margin-right: 1220px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: -279px;
    margin-right: 1220px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: -279px;
    margin-right: 1220px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: -279px;
    margin-right: 1220px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: -279px;
    margin-right: 1220px;
  }

  .u-section-2 .u-btn-7 {
    margin-left: -279px;
    margin-right: 1220px;
  }

  .u-section-2 .u-btn-8 {
    margin-left: -279px;
    margin-right: 1220px;
  }

  .u-section-2 .u-btn-9 {
    margin-left: -279px;
    margin-right: 1220px;
  }

  .u-section-2 .u-btn-10 {
    margin-left: -279px;
    margin-right: 1220px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 31px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 44px;
  }

  .u-section-2 .u-image-1 {
    height: 529px;
    margin-top: 479px;
  }

  .u-section-2 .u-image-2 {
    height: 530px;
    margin-top: -1069px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 583px;
    margin-left: 51px;
    margin-right: 51px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
    margin-top: 473px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-11 {
    margin-top: -429px;
    margin-left: 173px;
  }

  .u-section-2 .u-btn-12 {
    margin-right: auto;
    margin-left: 475px;
  }

  .u-section-2 .u-btn-13 {
    margin-top: 12px;
  }

  .u-section-2 .u-btn-14 {
    margin-top: 10px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 77px;
  }

  .u-section-2 .u-btn-16 {
    margin-left: 468px;
  }

  .u-section-2 .u-btn-17 {
    margin-left: 267px;
  }

  .u-section-2 .u-btn-18 {
    margin-top: 12px;
    margin-left: 219px;
  }

  .u-section-2 .u-btn-19 {
    margin-left: 462px;
  }

  .u-section-2 .u-btn-20 {
    margin-left: 505px;
  }

  .u-section-2 .u-btn-21 {
    margin-left: 245px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-btn-1 {
    margin: -393px 1070px 0 -350px;
  }

  .u-section-2 .u-btn-2 {
    margin: -393px 1070px 0 -350px;
  }

  .u-section-2 .u-btn-3 {
    margin: -393px 1070px 0 -350px;
  }

  .u-section-2 .u-btn-4 {
    margin: -393px 1070px 0 -350px;
  }

  .u-section-2 .u-btn-5 {
    margin: -393px 1070px 0 -350px;
  }

  .u-section-2 .u-btn-6 {
    margin: -393px 1070px 0 -350px;
  }

  .u-section-2 .u-btn-7 {
    margin: -393px 1070px 0 -350px;
  }

  .u-section-2 .u-btn-8 {
    margin: -393px 1070px 0 -350px;
  }

  .u-section-2 .u-btn-9 {
    margin-left: -350px;
    margin-right: 1070px;
  }

  .u-section-2 .u-btn-10 {
    margin-left: -350px;
    margin-right: 1070px;
  }

  .u-section-2 .u-image-1 {
    height: 404px;
    margin-top: 30px;
    width: 100%;
  }

  .u-section-2 .u-image-2 {
    height: 404px;
    margin-top: 12px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 44px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    margin-top: 1355px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-11 {
    margin-top: -1306px;
    margin-left: 63px;
  }

  .u-section-2 .u-btn-12 {
    margin-left: 366px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 64px;
  }

  .u-section-2 .u-btn-16 {
    margin-left: 157px;
  }

  .u-section-2 .u-btn-17 {
    margin-left: 373px;
  }

  .u-section-2 .u-btn-18 {
    margin-left: 110px;
  }

  .u-section-2 .u-btn-19 {
    margin-left: 351px;
  }

  .u-section-2 .u-btn-20 {
    margin-left: 136px;
  }

  .u-section-2 .u-btn-21 {
    margin-left: 337px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-btn-1 {
    font-size: 0.875rem;
    margin-top: 602px;
    margin-left: auto;
    margin-right: auto;
    padding: 11px 60px 12px;
  }

  .u-section-2 .u-btn-2 {
    font-size: 0.875rem;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
    padding: 11px 60px 12px;
  }

  .u-section-2 .u-btn-3 {
    font-size: 0.875rem;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
    padding: 11px 66px 12px 65px;
  }

  .u-section-2 .u-btn-4 {
    font-size: 0.875rem;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
    padding: 11px 62px 12px 61px;
  }

  .u-section-2 .u-btn-5 {
    font-size: 0.875rem;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
    padding: 11px 58px 12px;
  }

  .u-section-2 .u-btn-6 {
    font-size: 0.875rem;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
    padding: 11px 56px 12px 55px;
  }

  .u-section-2 .u-btn-7 {
    font-size: 0.875rem;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
    padding: 11px 50px 12px 49px;
  }

  .u-section-2 .u-btn-8 {
    font-size: 0.875rem;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
    padding: 11px 47px 12px 46px;
  }

  .u-section-2 .u-btn-9 {
    margin-right: 819px;
  }

  .u-section-2 .u-btn-10 {
    margin-right: 890px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 0;
  }

  .u-section-2 .u-list-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-11 {
    margin-top: -1212px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-12 {
    margin-top: 0;
    margin-left: 186px;
  }

  .u-section-2 .u-btn-13 {
    margin-top: 0;
  }

  .u-section-2 .u-btn-14 {
    margin-top: 0;
  }

  .u-section-2 .u-btn-15 {
    margin-top: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 0;
    margin-right: -35px;
    margin-left: 35px;
  }

  .u-section-2 .u-btn-16 {
    margin-top: 0;
    margin-left: 56px;
  }

  .u-section-2 .u-btn-17 {
    margin-top: 0;
    margin-left: 193px;
  }

  .u-section-2 .u-btn-18 {
    margin-top: 0;
    margin-left: 56px;
  }

  .u-section-2 .u-btn-19 {
    margin-top: 0;
    margin-left: 171px;
  }

  .u-section-2 .u-btn-20 {
    margin-top: 0;
    margin-left: 56px;
  }

  .u-section-2 .u-btn-21 {
    margin-top: 0;
    margin-left: 27px;
  }

  .u-section-2 .u-btn-22 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-btn-1 {
    margin-top: 434px;
  }

  .u-section-2 .u-btn-9 {
    font-size: 0.875rem;
    margin: -1288px auto 0;
    padding: 11px 62px 12px 61px;
  }

  .u-section-2 .u-btn-10 {
    font-size: 0.875rem;
    margin: 9px auto 823px;
    padding: 11px 62px 12px 61px;
  }

  .u-section-2 .u-list-1 {
    width: 100%;
    margin-right: auto;
    margin-left: -584px;
  }

  .u-section-2 .u-btn-12 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-14 {
    font-size: 0.75rem;
    padding: 13px 12px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-16 {
    font-size: 0.875rem;
    margin-left: auto;
    padding: 11px 77px 12px 76px;
  }

  .u-section-2 .u-btn-17 {
    font-size: 0.875rem;
    margin-left: auto;
    padding: 11px 83px 12px 82px;
  }

  .u-section-2 .u-btn-18 {
    font-size: 0.875rem;
    margin-left: auto;
    padding: 11px 65px 12px;
  }

  .u-section-2 .u-btn-19 {
    font-size: 0.875rem;
    margin-left: auto;
    padding: 11px 42px 12px 41px;
  }

  .u-section-2 .u-btn-20 {
    font-size: 0.875rem;
    margin-left: auto;
    padding: 11px 83px 12px;
  }

  .u-section-2 .u-btn-21 {
    font-size: 0.875rem;
    margin-left: auto;
    padding: 11px 68px 12px 67px;
  }

  .u-section-2 .u-btn-22 {
    font-size: 0.875rem;
    padding: 11px 38px 12px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 241px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 0 7px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 234px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 234px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-social-icons-1 {
  height: 51px;
  min-height: 16px;
  width: 323px;
  min-width: 148px;
  margin: 0 auto;
}

.u-section-3 .u-icon-1 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-icon-4 {
  height: 100%;
}

.u-section-3 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 259px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 259px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 31px;
    padding-right: 31px;
  }

  .u-section-3 .u-icon-3 {
    color: rgb(210, 34, 21) !important;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 233px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    margin-top: 20px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 432px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 259px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 156px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 59px;
    margin-bottom: 59px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 246px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 98px;
  }
}